body{
  background-color:black;
}

.split{
  height: 100%;
  width: 50%
  position: fixed;
}

.left{
  left: 0;
}

.right{
  right: 0;
}

.info-box{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: grey;
}
