body{
  background-color:black;
}

.left{
  position:relative;
  width: 50%;
  float: left;
  height: 100%;
  padding: 110px 0;
}

.right{
  position:relative;
  width: 50%;
  float: right;
  height: 100%;
}

.info-box{
  margin: auto;
  width: 60%; 
  height: 400px;
  text-align: center;
  background-color: #BEBEBE;
  box-shadow: 5px 10px 8px #888888;
}

.metronome{
  background: rgb(22,79,126);
  background: linear-gradient(90deg, rgba(22,79,126,1) 0%, rgba(88,226,255,1) 100%);
  height: 100%;
}
