.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}

.bpm-slider input {
  width: 100%;
  margin: 10px;
}

.metronome button {
  background: #C94D46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
}

.circle {
  height: 35px;
  width: 35px;
  border: 3px solid black;
  border-radius: 50%;
  display: inline-block;
}

.filled{
  height: 35px;
  width: 35px;
  border: 3px solid black;
  border-radius: 50%;
  display: inline-block;

  background-color: rgb(51, 163, 238);
}

.cell {
  font-size: 6px;
  margin-right: 20px; /*Add this*/  
}

.dots {
  width: 100%;
  padding-bottom:30px;
}